<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        {% load bootstrap4 %}
        {% load widget_tweaks %}
        {% bootstrap_css %}
<!--        <link rel="stylesheet" type="text/css" href="">-->
        <title>PREDICTOR| {% block title %}{% endblock title%}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'predict:form' %}">PREDICTOR</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'predict:form' %}">Predict</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
